
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
  font-family: 'Inter', sans-serif;
}

.layout-auth.page-index {
  background: #fefefe;
  background-size: 48px 48px;
  // background-image: linear-gradient(to right, #f0f1f5 1px, transparent 1px), linear-gradient(to bottom, #f0f1f5 1px, transparent 1px);
}

.is-clipped {
  overflow: hidden !important;
}

.navbar-logo {
 
  width: 3.5rem !important;
}

.navbar-container {
  font-size: 16px;
  padding: 0 1em;
}

.home-nav {
  z-index: 99;
}

.home-nav .navbar-brand {
  min-height: 3em;
}

.home-nav {
  font-size: 1em;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
  border-radius: 16px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 0.5em;
  gap: 0.5em;
}

.navbar {
  z-index: 11;
}

.is-flex {
  display: flex !important;
}

.chat-window {
  height: 54vh;
  min-height: 54vh;
  max-height: 54vh;
  color: #1da1f2;
  overflow: auto;
  overflow-x: hidden;
}
.message-wrapper{
  width: 85%;
}
.chat-bubble{
  border: 2px solid lightgray;
  border-bottom-left-radius: 0;
}

.main-container{
  min-height: 100vh;
  overflow: auto;
}

.chat-loader{
  width: 10rem;
  padding: 1em;
}
.text-bg-lightgreen{
  background-color: #6C5DD3;
  color: white;
}

.bg-purple{
  background-color: #DED8F8;
}
.bg-orange{
  background-color: #FEF7F1;
}
.bg-blue{
  background-color: #EDF8FE;
}

.top h1{
  font-size: 3.9rem;

  line-height: 1.2;
}
